<p>Hello, <%= @seller.user.email %>!</p>

<p>You have been invited to sell your data to <%= @buyer.name %>!</p>

<p>Their data inquiry is titled <%= @inquiry.title %><p>

<p>They're offering you <%= @inquiry.reward %> in exchange for your data. You can read more about the inquiry and join it at:<p>

<p><%= link_to 'See this inquiry!', buyer_inquiry_url(@buyer, @inquiry), method: :get %><p>

<p>Thank you!</p>