<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Browse sellers from around the world whom you can obtain data from!</h2>
          </div>

   <% #Put conditional so this shows only if buyers logged in, and do select 2 right for the multiple options, and make it a hidden menu, ranges for age + income, booleans how? Get rid of verified for now... %>
   <%= simple_form_for :search, url: sellers_path, method: "GET" do |f| %>
    <%= f.input :types, collection: Seller.types, label: "What type of data are you seeking?", input_html: {multiple: true, id: 'seller_index_types'}, required: false %>
    <%= f.input :age, label: "Do you want data from sellers in a certain age range?  Leave blank if not.", required: false, as: :between %>
    <%= f.input :sex, collection: Seller.sexes, input_html: { id: 'seller_index_sex'}, label: "Do you want data from only a certain sex?  Leave blank if not.", required: false%>
    <%= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "browse_country"}, label: "Do you want data from people in a certain country?  Leave blank if not.", required: false %>
    <%= f.input :occupation, collection: Seller.occupation, input_html: {multiple: true, id: 'seller_index_occupation'}, label: "Do you want data from sellers of a certain occupation?  Leave blank if not.", required: false %>
    <%= f.input :city, input_html: { id: 'seller_index_search' }, label: "Do you want data from sellers of a certain city?  Leave blank if not.", required: false %>
    <%= f.input :income, collection: Seller.income, label: "Do you want data from sellers of certain incomes?  Leave blank if not.", input_html: { multiple: true, id: 'seller_index_incomes'}, required: false %>
    <%= f.input :ethnicity, collection: Seller.ethnicity, label: "Do you want data from sellers of a certain ethnic group? Leave blank if not.",  required: false %>
    <%= f.input :race, collection: Seller.race, label: "Do you want data from sellers of a certain racial group? Leave blank if not.", required: false %>
    <%= f.input :religion, collection: Seller.religion, label: "Do you want data from sellers of a certain religious group? Leave blank if not.", required: false %>
    <%= f.input :sexuality, collection: Seller.sexuality, label: "Do you want data from sellers of a certain sexuality? Leave blank if not.", required: false %>
    <%= f.input :politics, collection: Seller.politics, label: "Do you want data from sellers of a certain political orientation? Leave blank if not.", required: false %>
    <%= f.input :relationship_status, collection: Seller.relationship_status, label: "Do you want data from sellers of a certain relationship status? Leave blank if not.", required: false %>
    <%= f.input :children, as: :radio_buttons, label: "Do you want data from sellers with children? Leave blank if not.", required: false %>
    <%= f.input :verified, as: :radio_buttons, label: "Do you only want data from sellers who are verified? Leave blank if not.", required: false %>
    <%= f.input :birth_country, collection: CountryStateSelect.countries_collection.sort, label: "Do you want data from sellers who were born in a certain country? Leave blank if not.", required: false %>
    <%= f.input :smoker, as: :radio_buttons, label: "Do you want data from sellers who are smokers? Leave blank if not.", required: false %>
    <%= f.input :education_level, collection: Seller.education_level, label: "Do you want data from sellers whom possess a certain educational level? Leave blank if not.", required: false %>
    <%#= f.input :sorted_by, :collection => %w[most_comments most_likes most_viewed most_recent], required: false %>
    <%= link_to "Reset", sellers_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>



<div data-controller="invitation">
   <% if current_user && current_user.buyer %> 
  <%# if session[:buyer_id].nil? %>
  <div id="welcomebuttons">
    <div class="container mt-2">
       <h4 class="text-dark row align-items-center justify-content-center pt-2">After you've searched for the sellers you want to invite to your inquiry, invite them here!</h4>
      <%= form_for :sellers, url: notify_sellers_path do |f| %>
        <%= f.hidden_field :ids, value: "", data: { target: "invitation.input"} %>
        <%= f.hidden_field :inquiry_id, value: "", data: { target: "invitation.inquiryInput"} %>
        <input type="checkbox" id="selectAll" value="selectAll" data-action="click->invitation#toggleAll"> Select / Deselect All<br/><br/>
        <%= f.submit label="Invite Sellers", class: "btn-primary"%>  can i move this button lower?  Experiment!  
      <% end %>
    </div>
  <% end %>


<% if current_user && current_user.buyer %> 
<div class="container">
  <div class="row align-items-center justify-content-center">
    <h4 class="text-dark row align-items-center justify-content-center pt-2">Hello <%= @buyer.name %>, now select which of your inquiries that you want to share with your selected sellers</h4>
      <%= simple_form_for :inquiry, url: notify_sellers_path do |f| %>
      <%= f.input :ids, collection: @inquiries, as: :radio_buttons, label: false, required: false, input_html: { data: { action: 'change->invitation#selectInquiry'}} %>
      <%#= f.submit %>
      <% end %>
  </div>
</div>
<% end %>

<% if current_user && current_user.buyer %> 
 <div class="container">
   <div class="row align-items-center justify-content-center" >
     <h4 class="text-dark row align-items-center justify-content-center pt-2">There are <%= @sellers.count %> matching sellers!  Select which ones to invite to your inquiry</h4>
   </div>
 </div>
 <% else %>
 <div class="container">
   <div class="row align-items-center justify-content-center" >
      <h4 class="text-dark row align-items-center justify-content-center pt-2">There are <%= @sellers.count %> matching sellers!  </h4>
   </div>
 </div>
 <% end %>


  <div class="content">
    <div class="products pl-5 card-grid-3c">
      <% @sellers.each do |seller| %>
        <div class="row align-items-center justify-content-center" >
          <div class="col-sm-6">
            <%= render partial: 'shared/seller_index_card', locals: {seller: seller} %>
           </div>
         </div>
      <% end %>
  </div>
  </div>
  </div>
  </div>
</section>



