<div class="container mt-3">
<div class="row align-items-center justify-content-center">
<h2>IMPORTANT TO NOTE!</h2>
<h3>Please provide however much personal information you are comfortable with providing.</h3>
<h3>The more you provide, the higher likelihood of matching with a buyer you will likely be.</h3>
</div>

<div class="row align-items-center justify-content-center">
<%= simple_form_for @seller do |f|%>
<%= f.input :age %>
<%= f.input :types, collection: Seller.types, input_html: {multiple: true, id: "seller_type_new"}, label: "What types of data would you be interested in selling?" %>
<%= f.input :country, collection: CountryStateSelect.countries_collection.sort, input_html: {id: "sellers_country_edit"} %>
<%= f.input :birth_country, collection: CountryStateSelect.countries_collection.sort, input_html: {id: "sellers_country_edit"}, label: "Birth country if different than current country" %>
<%= f.input :sex, collection: Seller.sexes %>
<%= f.input :city, input_html: {id: "sellers_city"} %>
<%= f.input :occupation, collection: Seller.occupation, input_html: {id: "sellers_occupation"} %>
<%= f.input :income, collection: Seller.income, label: "How much do you earn per year?", input_html: {id: "sellers_income"} %>
<%= f.input :ethnicity, collection: Seller.ethnicity %>
<%= f.input :race, collection: Seller.race %>
<%= f.input :religion, collection: Seller.religion %>
<%= f.input :sexuality, collection: Seller.sexuality %>
<%= f.input :politics, collection: Seller.politics %>
<%= f.input :relationship_status, collection: Seller.relationship_status %>
<%= f.input :children, as: :radio_buttons, as: :radio_buttons, label: "Do you have children?" %>
<%= f.input :smoker, as: :radio_buttons, as: :radio_buttons, label: "Do you smoke?" %>
<%= f.input :education_level, collection: Seller.education_level %>
<div style="text-align:center">
<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
</div>
<% end %>
</div>
</div>
