<div class="card mb-3 col-sm-6 card align-items-center", id="buyer-card-show">
  <%= cl_image_tag @buyer.photo,
    width: 300, height: 225, crop: :scale, class: "img-raised rounded-circle img-fluid pt-2" %>
  <div class="card-body">
	  <h3 class="title row align-items-center justify-content-center"><%= @buyer.name %></h3>
    <p class="card-text row align-items-center justify-content-center"><%= @buyer.biography %></p>
    <p class="card-text row align-items-center justify-content-center"><small class="text-muted"><%=  %></small></p>


    <div class="d-flex justify-content-center" >
    <p class="card-text row align-items-center justify-content-center align-items-center" >
    <%= link_to image_tag('placeholder.jpeg', class:"logos"), "https://#{@buyer.website}" %>
    </div>

    <p class="card-text row align-items-center justify-content-center"><%= @buyer.biography %> Years old</p>
    <p class="card-text row align-items-center justify-content-center"><%= @buyer.city %>, <%= @buyer.country %> <%= flag_icon(@buyer.country.to_sym.downcase) %></p>
    <p class="card-text row align-items-center justify-content-center">Originally from <%= @buyer.country %></p>
    # <p class="card-text row align-items-center justify-content-center"><small>Tags: <%#= raw @buyer.tags.map(&:name).map { |t| link_to t, "/artists/?utf8=✓&search%5Btag_ids%5D%5B%5D=&search%5Btag_ids%5D%5B%5D=#{t}&search%5Bcountry%5D=&search%5Bcity%5D=&commit=Submit" }.join(', ') %></small></p>
  </div>
</div>


<div class="d-flex justify-content-between w-100">
<p>Has <%#=@buyer.get_likes.size %> likes! </p>
<p>Followers: <%#= @buyer.followers_count %></p>
<p> Viewed <%#= @buyer.hits %> times </p>
</div>
</div>



<div class="row align-items-center justify-content-center py-3">
<div class="row">
<% if !current_user %>
<p><strong>Create an account to send this buyer a message!</strong></p>
<% end %>
<% if @seller || @buyer && current_user%>
  <%= link_to "Message #{@buyer.name}", conversations_path(author_id: current_user.id, receiver_id: @buyer.user_id), method: "post", class: 'btn btn-primary' %>
  <% elsif current_user%>
  <%= link_to "Message #{@buyer.name}", conversations_path(author_id: current_user.id, receiver_id: @buyer.user_id), method: "post", class: 'btn btn-primary' %>
  <% end %>
</div>
</div>


  <div class="row align-items-center justify-content-center py-1">
    <p><strong>Share: </strong><%= social_share_button_tag(@buyer.name) %>
  </div>

<br>

   <div class="dashboard_container mt-4 mb-4">
  <p class="grid-headers">Here are their public inquiries</p>
    <div class="row align-items-center justify-content-center">
      <div class="container front-page-grid">
        <% @inquiries.each do |inquiry| %>
        <% if inquiry.hidden.nil? %>
          <div class="row ">
            <div class="col-sm-4">
              <%= render partial: 'shared/inquiry_buyer_show', locals: {inquiry: inquiry, buyer: @buyer} %>
            </div>
              <% end %>
              <% end %>
          </div>
      </div>
    </div>
</div>


