<% if user_signed_in? && current_user.seller && current_user.seller.inquiry_ids.include?(@inquiry.id) && @sellerinquiry.completed %>
<h3 class="card-text container align-items-center justify-content-center">Thank you for participating in this inquiry! :)</h3>
<% end %>

<div class="card mb-3 col-sm-6 card align-items-center", id="seller-card-show">
<div class="container justify-content-center">
<p class="card-text row align-items-center justify-content-center pt-2"><%= cl_image_tag @buyer.photo,
    width: 300, height: 225, crop: :scale, class: "img-raised rounded-circle img-fluid pt-2" %></p>
<p class="card-text row align-items-center justify-content-center"><%= @buyer.name %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.title %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.requirements %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.information_usage %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.reward %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.anonymous %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.total %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.types %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.information_usage %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.format %></p>
</div>
</div>

<div class="container row align-items-center justify-content-center py-1">
  <p><strong>Share: </strong><%= social_share_button_tag(@buyer.name) %>
</div>



<% if user_signed_in? && current_user.seller && !current_user.seller.inquiry_ids.include?(@inquiry.id) %>
<div class="container align-items-center justify-content-center">
  <p><strong>Would you like to join this inquiry? </strong>
  <%= simple_form_for @sellerinquiry do |f|%>
<%= f.input :seller_id, as: :hidden, :input_html => { :value => current_user.seller.id } %>
<%= f.input :inquiry_id, as: :hidden, :input_html => { :value => @inquiry.id } %>
<div style="text-align:center">
<%= f.button :submit, 'Join Inquiry', class: 'btn btn-primary'%>
</div>
<% end %>
</div>
<% end %>


<%# current_user.seller.inquiry_ids This is an array, must check array for matching integer %>
<% if user_signed_in? && current_user.seller && current_user.seller.inquiry_ids.include?(@inquiry.id) && !@sellerinquiry.completed %>
<div class="container align-items-center justify-content-center">
<p class="card-text row align-items-center justify-content-center"><strong>Data Submitting Instructions: </strong><%= @inquiry.instructions %></p>
<p class="card-text row align-items-center justify-content-center">After you have completed the instructions to submit your data, hit the complete button below!</p>
<%= simple_form_for @sellerinquiry do |f| %>
<%= f.input :completed, as: :hidden, :input_html => { :value => DateTime.current  } %>
<%= f.input :inquiry_id, as: :hidden, :input_html => { :value => @inquiry.id } %>
<%= f.input :seller_id, as: :hidden, :input_html => { :value => current_user.seller.id } %>  <%# Do i need this?  %>
<div style="text-align:center">
<%= f.button :submit, 'Completed', class: 'btn btn-primary'%>
</div>
<% end %>
<% end %>

