<div class="card-trip">
<%# <img src=<%= buyer.photo %>
<%= cl_image_tag @buyer.photo,
    width: 300, height: 225, crop: :scale, class: "img-raised rounded-circle img-fluid pt-2" %></p>
  <div class="card-trip-infos">
    <h2><%= inquiry.title %></h2>
    <p><%= inquiry.information_usage %></p>
    <p><%= inquiry.requirements %></p>
    <p><%= inquiry.types %></p>



      <div class="d-flex justify-content-between w-100">
      <%= link_to 'See this inquiry!', buyer_inquiry_path(@buyer, inquiry), class: 'btn btn-primary'  %>
      <%= link_to 'Edit this inquiry!', edit_buyer_inquiry_path(@buyer, inquiry), class: 'btn btn-primary'  %>
      <%= link_to 'Delete this inquiry!', buyer_inquiry_path(@buyer, inquiry), class: 'btn btn-primary', method: :delete, data: {confirm: "Are you sure?"}  %>
  </div>
</div>

  <div class="d-flex justify-content-between w-100">
    <h2 class="card-trip-pricing">$<%= inquiry.reward %></h2>
    <p> </p>
      <p>  </p>
  </div>
</div>

    </div>
</div>

