All info.  Buyer show.  Request to join if current user is a seller.
Instructions hidden on bottom...Or a hidden page?

<div class="card mb-3 col-sm-6 card align-items-center", id="seller-card-show">
<div class="container justify-content-center">

<p class="card-text row align-items-center justify-content-center"><%= cl_image_tag @buyer.photo,
    width: 300, height: 225, crop: :scale, class: "img-raised rounded-circle img-fluid pt-2" %></p>
<p class="card-text row align-items-center justify-content-center"><%= @buyer.name %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.title %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.requirements %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.information_usage %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.reward %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.anonymous %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.total %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.types %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.information_usage %></p>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.format %></p>
</div>
</div>

<div class="row align-items-center justify-content-center py-1">
  <p><strong>Share: </strong><%= social_share_button_tag(@buyer.name) %>
</div>



<% if current_user.seller %>
<div class="row align-items-center justify-content-center">
  <p><strong>Would you like to join this inquiry? </strong>
  <%= simple_form_for @sellerinquiry do |f|%>
<%= f.input :seller_id, as: :hidden %>
<%= f.input :inquiry_id, as: :hidden %>
<div style="text-align:center">
<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
</div>
<% end %>
</div>
<% end %>

<%# <% if current_user.seller.inquiry.id = @inquiry.id %> %>
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.instructions %></p>
<p class="card-text row align-items-center justify-content-center">After you have completed the instructions to submit your data, hit the complete button below!</p>
<%# <% end %> %>

<%# if current_user.seller.inquiry.id == @inquiry.id || current_user.buyer.id = @inquiry.buyer.id %>
<%# if  current_user.buyer.id = @inquiry.buyer.id %>
<div class="container">
<div class="row">
<p class="card-text row align-items-center justify-content-center"><%= @inquiry.instructions %></p>
</div>
</div>
<%# end %>
