<div class="seller-index-card">
<% if seller.sex == "Male" %>
    <%= image_tag "https://previews.123rf.com/images/apoev/apoev1806/apoev180600175/103284768-default-placeholder-businessman-half-length-portrait-photo-avatar-man-gray-color.jpg" %>
  <% elsif seller.sex == "Female" %>
    <%= image_tag "https://previews.123rf.com/images/apoev/apoev1806/apoev180600137/103284730-default-placeholder-businesswoman-half-length-portrait-photo-avatar-woman-gray-color.jpg" %>
  <% else  %>
    <%= image_tag "https://usergroups.anaplan.com/static/images/placeholder_avatar.png" %>
<% end %>
  <div class="seller-index-card-infos">
    <p><strong>Age: </strong><%= seller.age %></p>
    <p><strong>Willing to sell: </strong><%= seller.types %></p>
    <%= link_to 'View Seller', seller_path(seller.id), method: :get, class: 'btn btn-primary'  %>
  </div>
  <div class="d-flex justify-content-between w-100">
    <p><strong>Location: </strong><%= seller.country %></p>
    <p><strong>Sex: </strong><%= seller.sex %></p>
    <p><strong>Income: </strong><%= seller.income %></p>
  </div>
</div>
