@seller.sellerinquiries.first.inquiry.buyer
<div class="inquiry-index-card card-product">
  <img src=<%= sellerinquiry.inquiry.buyer.photo %> />
  <div class="card-product-infos">
    <p><strong>Information: </strong><%= sellerinquiry.inquiry.information_usage %></p>
    <p><strong>Requirements: </strong><%= sellerinquiry.inquiry.requirements %></p>
    <p><strong>Data Type: </strong><%= sellerinquiry.inquiry.types %></p>
    <%= link_to 'View Inquiry', buyer_inquiry_path(buyer.id, inquiry), method: :get, class: 'btn btn-primary'  %>
  </div>

  <div class="d-flex justify-content-between w-100 card-product-infos">
    <p><strong>Reward: $<%= sellerinquiry.inquiry.reward %></p></strong>
    <p>Anonymous? <%= sellerinquiry.inquiry.anonymous %>    </p>
    <p>Total: <%= sellerinquiry.inquiry.total %> people </p>
  </div>
</div>
