<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-dark row align-items-center justify-content-center py-2">Browse those seeking to buy data!</h2>
      <p class="text-dark row align-items-center justify-content-center py-2">There are <%= @buyers.count %> buyers on Datumine.</p>
          </div>

<div class="container">
   <%= simple_form_for :search, url: buyers_path, method: "GET" do |f| %>
    <%#= f.input :name, collection: Tag.art_kinds, input_html: {multiple: true}, label: "What kind of artist do you do want?", required: false %>
    <%#= f.input :tag_ids, collection: Tag.art_types, input_html: {multiple: true, id: 'browse_genre_tags'}, label: "What genre of art do you want?", required: false%>
    <%#= f.input :country, collection: CountryStateSelect.countries_collection.sort, required: false, input_html: { id: "browse_country"} %>
    <%#= f.input :city, id:"artist_city2", required: false %>
    <%#= f.input :sorted_by, :collection => %w[most_comments most_likes most_viewed most_recent], required: false %>
    <%= link_to "Reset", buyers_path  %>
    <%= f.submit 'Submit', class: 'btn btn-primary'%>
  <% end %>
</div>

   <div class="content", id="buyers-container">
      <div class="products pl-5 card-grid-3c" id="buyers_table">
        <% @buyers.each do |buyer| %>
          <div class="row align-items-center justify-content-center">
            <div class="col-sm-6">
              <%= render partial: 'shared/buyer_index_card', locals: {buyer: buyer} %>
            </div>
          </div>
              <% end %>
        </div>
      </div>
    </div>

<%# <div class="container pt-4">
  <div class="row justify-content-center">
    <%= will_paginate @buyers %>


<%# <%= link_to "More", root_path(page: 2), id: 'more-btn', remote: true, class: "hidden" %>  <%# hidden button to trigger event. %>

<%= link_to "More", buyers_path(page: 2), id: 'more-btn', remote: true, class: "d-none" %>


<%= javascript_pack_tag 'buyer_controller' %>

</section>
