<div class="container mt-3">
<div class="row align-items-center justify-content-center">
<h2>Please provide information about the data that you are seeking out!</h2>
</div>

<div class="row align-items-center justify-content-center">
<%= simple_form_for [@buyer, @inquiry] do |f|%>
<%= f.input :title, label: "Please provide a descriptive title for your inquiry." %>
<%= f.input :types, collection: Inquiry.types, input_html: {multiple: true, id: "inquiry_new"}, label: "What type of data are you seeking?" %>
<%= f.input :information_usage, label: "Why are you seeking this data?  What do you seek to do with this data after you obtain it?" %>
<%= f.input :requirements, label: "What is required of the seller that's providing their data?" %>
<%= f.input :reward, label: "What are you offering for this data?  If you are not offering money, then what are you offering" %>
<%= f.input :price_cents, label: "If you are offering a price reward, place the amount here." %>
<%= f.input :format, collection: Inquiry.formats, input_html: {id: "inquiry_format"}, label: "What format must the data be submitted as?" %>
<%= f.input :tag_list, collection: Inquiry.tags, input_html: {multiple: true, id: "inquiry_tag_new"}, label: "Attach some tags to the inquiry if you'd like to allow for sellers to more easily match with it via searching" %>
<%= f.input :anonymous, as: :radio_buttons, label: "Does the identity of the seller of the data need to be provided as well?" %>
<%= f.input :total, label: "How many people do you need data from?" %>
<%= f.input :hidden, as: :radio_buttons, label: "Do you want to hide this inquiry from the public?  If so, potential sellers will not be able to search for it, you'll have to send it to them yourself." %>
<%= f.input :instructions, label: "Please provide the instructions that will be shown to the seller when they accept this inquiry in order for them to send you the data" %>
<div style="text-align:center">
<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
</div>
<% end %>
</div>
</div>
